@charset "UTF-8";

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

li {
  margin-bottom: .5rem;
}
/* Selects any required <input> */
input:required {
  border: 1px dashed red;
}
